<%- include ('partials/header.ejs')%>
<body>
    <section class="container-flex">
        <article class="card-birthday">
            <h2>0 aniversariante</h2>
            <ul class="list-birthday-person">

                <% perguntas.forEach(pergunta => { %>
                    <li class="birthday-person">

                        <div class="img-birthday-person">
                            <img src="uploads/<%= pergunta.fileName %>" alt="">
                        </div>
         
                        <div class="info-birthday-person">
                            <h1> <%= pergunta.nome%>  </h1>
                            <p> <%= pergunta.nascimento%> anos -<span class="date-birthday">Aniversário: <%= pergunta.aniversario%></span></p>
                        </div>

                        <form action="/deletar" method="POST">
                            <input type="hidden" name="id" value="<%= pergunta.id%>">
                            <input type="hidden" name="fileName" value="<%= pergunta.fileName %>">
                            <button class="button-delete">X</button>
                        </form>
                            
                    </li> 
                <%})%>

                <div class="no-birthday-div">
                    <p>Não há aniversariantes cadastrados ):</p>
                </div>

            </ul>

            <div class="buttons">
                <a href="/cadastrar">Adicionar Aniversariante</a>
            </div>

            <div class="toogle-theme-btn">
                <label class="switch">
                    <input type="checkbox" name=switch-theme>
                    <span class="slider round"></span>
                </label>

            </div>

        </article>
    </section>
</body>
<%- include ('partials/footer.ejs')%>
<script>

</script>